﻿<%@ Master Language="VB" MasterPageFile="~/Site.Master" AutoEventWireup="false" CodeBehind="SidePanel.master.vb" Inherits="uniqco.WEBCPB.SidePanel" %>


<%@ Register Assembly="DevExpress.Web.v15.1, Version=15.1.11.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" Namespace="DevExpress.Web" TagPrefix="dx" %>


<asp:Content ID="Content1" ContentPlaceHolderID="BodyPlaceHolder" runat="server">
    
          <dx:ASPxSplitter AllowResize="false" ID="ASPxSplitter1" runat="server" Height="100%" Width="100%" ClientInstanceName="SidePanelMainBody">
        <Styles>
            <Pane>
                <Paddings Padding="0px" />
            </Pane>
        </Styles>
        <Panes>
            <dx:SplitterPane >
                <Panes>
                    <dx:SplitterPane  ShowSeparatorImage="False">
                         <Panes>
                            
                            <dx:SplitterPane Name="SideNavContainer" ShowSeparatorImage="False" Size="250">
                                <ContentCollection>
                                    <dx:SplitterContentControl runat="server">
                                        
                                       <asp:ContentPlaceHolder ID="SideNavPlaceHolder" runat="server">
                
                                        </asp:ContentPlaceHolder>
                                    </dx:SplitterContentControl>
                                </ContentCollection>
                            </dx:SplitterPane>
                            
                            <dx:SplitterPane Name="ContentContainer" PaneStyle-Border-BorderStyle="None" ShowSeparatorImage="False" >
                                <ContentCollection>
                                    <dx:SplitterContentControl runat="server">
                                       <asp:ContentPlaceHolder ID="ContentPlaceHolder" runat="server">
                
                                        </asp:ContentPlaceHolder>
                                    </dx:SplitterContentControl>
                                </ContentCollection>
                            </dx:SplitterPane>
                        </Panes>
                    </dx:SplitterPane>
                </Panes>
            </dx:SplitterPane>
        </Panes>
    </dx:ASPxSplitter>
</asp:Content>

