﻿/*
UNIFLEET
blue = #002e62
orange = #ff4500
grey = #636a70
*//*
*/
/*****************************************//*

*/
/*LINKS
*//*

a:link,a:active,a:visited,
a span.Normal{
    color:#0a69c7;
}
a:hover,
a span.Normal{
    color:#84b4e3;
}
*/
/*NAVIGATION MENUS
*//*

*/
/*menu bar*/

div.navigation{
    background:#636a70;
}

/*top level menu links*/\

div#snapsis_menu li a:link,div#snapsis_menu li a:active,div#snapsis_menu li a:visited{
    color:#ffffff !important;
}
div#snapsis_menu li a:hover{
    color:#ffffff !important;
}

/*second/third/etc. level menu items*//*

div#snapsis_menu li li{
    background:#636a70;
}
div#snapsis_menu li li:hover,
div#snapsis_menu li li.iehover{
    background:#9f9f9f;
}
*/
/*second/third/etc. level menu links*//*

div#snapsis_menu li li{
    background:#636a70;
}
div#snapsis_menu li li a:link,div#snapsis_menu li li a:active,div#snapsis_menu li li a:visited{
    color:#ffffff !important;
}
div#snapsis_menu li li a:hover{
    background:#9f9f9f !important;
    color:#ffffff !important;
}
div#snapsis_menu li li:first-child{
    border-top:1px solid #545a5f;
}
div#snapsis_menu li li li:first-child{
    border-top:0;
}
*/
/*login link*//*


.contentfooter table.nav a.SkinObject:link,.contentfooter table.nav a.SkinObject:active,.contentfooter table.nav a.SkinObject:visited,.contentfooter table.nav a.SkinObject:hover{
    color:#002E62;
    font-weight:normal;
    text-decoration:none;
    margin:0;
    padding:0;
    font-size:8.5pt;
    white-space: normal;
    text-align:left;
}
*/
/*breadcrumb and user account links*/

table.subnav a:link,table.subnav a:active,table.subnav a:visited{
    color:#0a69c7;
}
table.subnav a:hover{
    color:#84b4e3;
}
td.breadcrumb,
td.breadcrumb *{
    color:#636a70;
}

/*LEFT-HAND CONTEXT MENUS
*//*

div#snapsis_level_menu a:link,div#snapsis_level_menu a:active,div#snapsis_level_menu a:visited{
    color:#636a70;
    text-decoration:none;
}
div#snapsis_level_menu a:hover{
    color:#636a70;
    background:#dedede;
}
*/
/*PORTAL TEXT
*//*

.Head{
    font-size:16px;
    font-weight:bold;
    color:#002e62;
}
h2{
    font-size:14px;
    font-weight:bold;
    clear:both;
    margin:1em 0;
    padding:0;
     !important;
}
* html h2{
    height:1%;
    margin:0 0 1em 0;
}
h2 a:link,h2 a:active,h2 a:visited,h2 a:hover{
    text-decoration:underline !important;
}
h3{
    color:#000000;
    font-weight:bold;
}
h4{
    color:#000000;
    font-style:italic;
}
p{
    margin:0 0 1em 0;
    padding:0;
}
div{
    font-size:11px;
}
td.contentleft .Normal,
td.contentright .Normal{
    font-size:11px;
}
td.contentmid .Normal,
td.contentmidleft .Normal,
td.contentmidright .Normal{
    font-size:12px;
}
*/
/*TEXT VARIANTS
*//*

*/
/*lists in callouts*//*

div.callout_content ul,
div.callout_content ol{
    margin:0 0 0 2em !important;
    padding:0 0 1em 0!important;
}
div.callout_content li{
    margin:0 !important;
    padding:0 !important;
}
*/
/*home page*//*

div.tabid905 div.breadcrumb_links{
    visibility:hidden;
}
div.tabid905 td.breadcrumb,
div.tabid905 td.navuser{
    padding-bottom:10px !important;
}
div.home_bullets{
}
div.home_bullets ul{
    margin-top:0;
    margin-bottom:0;
    padding-top:0;
    padding-bottom:0 !important;
}
div.home_bullets div{
    padding:0.5em 0 1em 0;
}
span#dnn_ctr2772_dnnTITLE_lblTitle{
    font-size:30px;
    font-weight:bold;
    color:#636a70;
    display:block;
    margin:0 0 10px 0;
}
div#dnn_ctr2772_ModuleContent{
    display:none;
}
*/
/*BREADCRUMBS AND USER NAMES
*/

table.subnav a.SkinObject:link,
table.subnav a.SkinObject:active,
table.subnav a.SkinObject:visited{
    font-size:10px;
    color:#002e62;
}
table.subnav a.SkinObject:hover{
    font-size:10px;
    color:#00549e;
}
td.breadcrumb{
    padding:0 0 20px 8px;
}
td.navuser{
    text-align:right;
    padding:0 8px 20px 0;
}

/*CONTAINER COLOURS
see MulticolourNew container.css
for required styles and over-ride
colours in portal.css if required
*//*

*/
/*blue*/

div.callout_blue,
div.titlebar_blue{
    background-color:#002e62 !important;
}
div.callout_blue div.callout_content a:link,div.callout_blue div.callout_content a:active,div.callout_blue div.callout_content a:visited,
div.titlebar_blue div.callout_content a:link,div.titlebar_blue div.callout_content a:active,div.titlebar_blue div.callout_content a:visited{
    color:#002e62 !important;
}
div.callout_blue div.callout_content a:hover,div.titlebar_blue div.callout_content a:hover{
    color:#002e62 !important;
}

/*bluedark*/

div.callout_bluedark,
div.titlebar_bluedark{
    background-color:#002e62;
}
div.callout_bluedark div.callout_body{
    background-color:#c2d9f1;
}
div.callout_bluedark div.callout_content a:link,div.callout_bluedark div.callout_content a:active,div.callout_bluedark div.callout_content a:visited,
div.titlebar_bluedark div.callout_content a:link,div.titlebar_bluedark div.callout_content a:active,div.titlebar_bluedark div.callout_content a:visited{
    color:#002e62 !important;
}
div.callout_bluedark div.callout_content a:hover,div.titlebar_bluedark div.callout_content a:hover{
    color:#002e62 !important;
}

/*orange*/

div.callout_orange,
div.titlebar_orange{
    background-;
}
div.callout_orange div.callout_content a:link,div.callout_orange div.callout_content a:active,div.callout_orange div.callout_content a:visited,
div.titlebar_orange div.callout_content a:link,div.titlebar_orange div.callout_content a:active,div.titlebar_orange div.callout_content a:visited{
     !important;
}
div.callout_orange div.callout_content a:hover,div.titlebar_orange div.callout_content a:hover{
     !important;
}

/*FOOTER*//*

table.footer{
    margin:20px auto;
}
table.footer td{
    text-align:center;
}
table.footer a:link,
table.footer a:active,
table.footer a:visited,
table.footer a.SkinObject:link,
table.footer a.SkinObject:active,
table.footer a.SkinObject:visited{
    font-size:11px;
    text-decoration:none;
    font-weight:normal !important;
    color:#002e62 !important;
}
table.footer a:hover,
table.footer a.SkinObject:hover{
    font-size:11px;
    text-decoration:underline;
    font-weight:normal !important;
    color:#00549e !important;
}
*/
/*UNIFLEET TABLE (GENERATED BY HOMESITE WORD CLEANUP)
*//*

table.uf_table{
    border-collapse:collapse;
    width:100%;
}
table.uf_table td{
    padding:2px 6px 3px 6px !important;
    border-top:1px solid #ffffff;
    background:#eeeeee;
    vertical-align:top;
}
table.uf_table th{
    border-top:3px solid #ffffff;
    padding:2px 6px 3px 6px !important;
    font-weight:bold;
    color:#5e5e5e;
    font-size:11px;
    background:#d1d1d1;
    text-align:left;
    vertical-align:top;
}
table.uf_table td.empty{
    background:#ffffff;
    font-weight:bold;
    color:#000000;
}
table.uf_table th.empty{
    background:#ffffff;
    text-align:center;
    font-weight:bold;
    color:#000000;
}
table.uf_table.centered_cells td,
table.uf_table.centered_cells th{
    text-align:center !important;
}
table.uf_table tr.alternate td,
table.uf_table td.alternate{
    background:#ffffff !important;
}
*/
/*COMPLIANCE TABLE*//*

.table_subhead{
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 4px;
    padding-top: 2px;
    background: #d1d1d1;
}
.table_light{
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 4px;
    padding-top: 2px;
}
.table_alternate {
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 4px;
    padding-top: 2px;
    background: #bfcbd8;
}



*/
/*XMOD LIGHT FLEET FORM*//*


div.light_fleet_form{
    padding:0 0 10px 0;
}
div.light_fleet_form fieldset{
    border:0;
    padding:0;
    margin:0;
}
div.light_fleet_form legend{
    display:none;
}
div.light_fleet_form table.xmod_table input,
div.light_fleet_form table.xmod_table textarea{
    width:224px;
}
div.light_fleet_form table.xmod_table img{
    width:229px;
    margin:10px auto 0 auto;
}
input#dnn_ctr2289_XModFeedback_ctl10_ctl00{
    width:auto;
    padding:0.4em 2em;
}
div.light_fleet_form h2,
div.light_fleet_form h2 a{
    margin:0;
    padding:0 !important;
    color:#000000;
    font-size:13px;
    display:none;
}



*/
/*CHARTER LIST*//*


ol#charter{
    margin:1em 0 !important;
    padding:0;
    list-style:none;
    overflow:auto;
}
ol#charter li{
    margin:0;
    padding:2px 0 0 0;
    list-style:none;
    clear:both;
    overflow:auto;
    border-bottom:1em solid #ffffff;
}
ol#charter span.bullet_bg{
    float:left;
    width:30px;
    height:30px;
    line-height:30px;
    color:#ffffff;
    text-align:center;
    margin:0 10px 0 0;
    background:url(images/bullet_bg00.png) 0 0 no-repeat;
}



*/
/*CLIENT MAP*//*


div.state_map{
    background:url(images/client_map00.gif) 0 0 no-repeat;
}




*/
/*CLIENT LIST*//*


div#dnn_ctr2743_Announcements_viewtypeSelector{
    display:none;
}
div.current_client_list{
}
div.current_client{
    padding:10px 0 5px 40px;
    background:url(images/progress_bullet00.gif) 0 10px no-repeat;
}
div.current_client_title{
    padding:2px 0 0 0;
    font-weight:bold;
}
div.current_client_desc *{
    margin:0 !important;
    padding:0 !important;
}

fieldset.search {
    padding: 5px;
    background: linear-gradient(rgb(255, 168, 76) 0%, rgb(255, 123, 13) 100%);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    border: 1px solid rgb(238, 238, 238);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}
*/

*, h1, h2, h3, h4, h5, h6 {
    color: #002E62;
}

.nav li > a {
    color: #002060;
} 

