﻿

/*  SECTIONS  */
.graphicsection{
	clear: both;
	padding: 0px;
	margin: 0px ;
    font-family:Arial;
    font-weight:bold;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 2.5% 0% 0% ;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF FOUR  */
.span_4_of_4 {
	width: 100% !Important;
    padding: 0px !Important;
}
.span_3_of_4 {
	width: 74.87% !Important;
    padding: 0px !Important;
}
.span_2_of_4 {
	width: 49.75% !Important;
    padding: 0px !Important;
}
.span_1_of_4 {
	width: 22.5% !Important;
    padding: 0px !Important;
}

#circleHolder{
    width:525px;
}

#triangle-up {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 250px 100px 250px;
    border-color: transparent transparent #002e62 transparent
} 

#rectangle {
    padding:10px;
	width: 480px;
	height: 50px;
	background: #ff4500;
    border-radius:10px;
}

#rectangle1 {
    padding:10px;
	width: 480px;
	height: 80px;
	background: #bfbfbf;
    border-radius:10px;
}

#circle1 { 
    width: 100px; 
    height: 100px; 
    background: #FFFF00; 
    padding: 0px !Important;
    -moz-border-radius: 50px; 
    -webkit-border-radius: 50px;
    border-radius: 50px; 
}

#circle2 { 
    width: 100px; 
    height: 100px; 
    background: #FFC000; 
    padding: 0px !Important;
    -moz-border-radius: 50px; 
    -webkit-border-radius: 50px; 
    border-radius: 50px; 
}
#circle3 { 
    width: 100px; 
    height: 100px; 
    background: #92d050; 
    padding: 0px !Important;
    -moz-border-radius: 50px; 
    -webkit-border-radius: 50px; 
    border-radius: 50px; 
}
#circle4 { 
    width: 100px; 
    height: 100px; 
    background: #00b0f0; 
    padding: 0px !Important;
    -moz-border-radius: 50px; 
    -webkit-border-radius: 50px; 
    border-radius: 50px; 
}
.spaces{
    padding:5px;
}

.divCenter{
    position: fixed; 
    height:300px ;
    width:525px;
    top: 45%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    font-family:Arial;
    font-weight:bold;
    }

div.image {
   background-image:url("~/images/unifleet.png");
}​

a:link {
color: #FFFFFF;
text-decoration : none;
}
a:visited {
/*color: #FFFFFF;*/
}
a:hover {
color: #FFFFFF;
}